@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  label {
    font-family: Oswald, Proxima Nova, system-ui, sans-serif;
  }
  body {
    background-color: rgb(242, 242, 242);
  }
  html {
    font-family: Merriweather, Proxima Nova, sans-serif;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl  text-black font-semibold mb-10;
  }
}

.profilImage {
  width: min(20%, 140px);
  object-fit: cover;
  float: left;
  margin-right: 1rem;
}

section {
  @apply mb-10;
}
.input-form {
  @apply font-light border border-grey p-2 w-full;
}
.label-form {
  @apply font-extralight mb-2 text-black text-xl;
}
